In [1]:
print ("hello")

hello

In [7]:
type(3.0)

float

In [1]:
print("my name is kemal")

my name is kemal

In [9]:
x = 'HELLO WORLd'

In [10]:
x.lower()

'hello world'

In [11]:
x.upper()

'HELLO WORLD'

In [12]:
y= 'hey , zero, #hashtag'

In [14]:

y.split(" ")

['hey', ',', 'zero,', '#hashtag']

In [15]:
y.split("#")

['hey , zero, ', 'hashtag']

In [160]:
y.split()

['hey', ',', 'zero,', '#hashtag']

In [16]:
4+5.2

9.2

In [17]:
5**2

25

In [2]:
5*5

25

Variable Assignment

In [21]:
x = 25

In [22]:
var = 56

In [23]:
ans = var - x

In [25]:
print(ans)

31

In [26]:
!x=44 #dont do this

'x' is not recognized as an internal or external command,
operable program or batch file.

In [29]:
name_of_variable= 4

In [30]:
print(name_of_variable)

4

Data types

In [12]:
#Strings

In [14]:
string= "hello"

In [15]:
string

'hello'

In [16]:
print(string)

hello

In [32]:
x="hello"
y=" world"

In [34]:
type(x+y)

str

In [35]:
num = 12
name = 'Biniam'

In [37]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Biniam

In [38]:
s='abcdefghijklmnop'

In [41]:
s[5]

'f'

In [42]:
s[1:5]

'bcde'

In [26]:
# List

In [43]:
my_list = [1,2,3]

In [44]:
print(my_list)

[1, 2, 3]

In [45]:
my_list.append(5)

In [46]:
print(my_list)

[1, 2, 3, 5]

In [47]:
my_list.append("abcd")

In [48]:
print(my_list)

[1, 2, 3, 5, 'abcd']

In [49]:
[1,2,'a','b']

[1, 2, 'a', 'b']

In [50]:
nest = [1,2,['d','e','f'],3,4]

In [51]:
print(nest)

[1, 2, ['d', 'e', 'f'], 3, 4]

In [52]:
nest[2]

['d', 'e', 'f']

In [53]:
nest[2][1]

'e'

In [55]:
net = [1,2,['d',['a','b'],'e','f'],3,4]

In [56]:
net[2][1][1]

'b'

In [41]:
# dictionaries

In [60]:
d={'myfirst key':25,'key2':"vlaue2"}

In [43]:
print(d)

{'key1': 'vlaue1', 'key2': 'vlaue2'}

In [44]:
type(d)

dict

In [61]:
d['myfirst key']

25

In [50]:
d['key1']

'vlaue1'

In [51]:
#booleans

In [52]:
True

True

In [54]:
False

False

In [55]:
#tuples

In [62]:
my_tuple = (1,2,3,4)

In [58]:
print(my_tuple)

(1, 2, 3)

In [60]:
my_tuple[0]

1

In [74]:
tup=[1,2,3,4,4]

In [64]:
tup[2]=6

In [65]:
tup

[1, 2, 6]

In [66]:
my_tuple[0]= 3

TypeError: 'tuple' object does not support item assignment

In [63]:
#sets

In [69]:
s = {1,3,4,5,6,6,6,6,6}

In [70]:
s

{1, 3, 4, 5, 6}

In [71]:
set_2={1,1,2,3,3,3,4,5,5,5}

In [72]:
set_2

{1, 2, 3, 4, 5}

In [73]:
set_2.add("new_element")

In [69]:
set_2

{1, 2, 3, 4, 5, 'new_element'}

In [79]:
myset=set(tup)

In [80]:
myset

{1, 2, 3, 4}

In [70]:
#comparison operators

In [81]:
1>2

False

In [73]:
1 == 2

False

In [82]:
1 != 2

True

In [84]:
'hello'== 'hell'

False

In [81]:
# if

In [84]:
x=2

In [85]:
if x==2:
    print('correct')
else:
    print('incorrect')

correct

In [85]:
age = 23

In [87]:
if age < 18:
    print("too young for id")
elif age == 18:
    print('the right age')
else:
    print('too old')

too old

In [90]:
# Loops

In [130]:
l=[1,2,3,4,5]

In [103]:

for x in l:
    print(x + 1)

2
3
4
5
6

In [89]:
i=1

In [91]:
while i<3:
    print(i)
    i=i+1

1
2

In [95]:
range(-9,4)

range(-9, 4)

In [99]:
list(range(-9,4))

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3]

In [97]:
# List comprhension
# [output_operation for var in list]

In [133]:
[print(x+1) for x in l]

2
3
4
5
6

[None, None, None, None, None]

### Functions

In [137]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [139]:
def fun1(x):
    return x**2

In [140]:
print(fun1(2))

4

In [142]:
lambda x:x**2

map and filter

In [136]:
seq = [1,2,3,4,5]

In [145]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [171]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [172]:
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [175]:
import asyncio

async def x():
    print('Hello ...')
    await asyncio.sleep(1)
    print('... World!')

In [177]:
x()

## Numpy

NumPy (or Numpy) is a Linear Algebra Library for Python, the reason it is so important for Data Science with Python is that almost all of the libraries in the PyData Ecosystem rely on NumPy as one of their main building blocks. It's also incredibly fast

In [ ]:
# Installation
conda install numpy

In [6]:
# using numpy
import numpy as np

my_list =[1,3,4,5]

In [7]:
# numpy arrays are the main way we use numpy

numpy arrays come in two forms, vectors and matrices. Vectors are striclty 1-d arrays and matrices are 2-d arrays

In [2]:
my_list

[1, 3, 4, 5]

In [4]:
x=np.array(my_list)

In [8]:

type(x)

numpy.ndarray

In [9]:
x

array([1, 3, 4, 5])

In [12]:
matrix=[[1,2,3],[4,5,6]]

In [13]:
np.array(matrix)

array([[1, 2, 3],
       [4, 5, 6]])

In [16]:
# built in
np.arange(0,10,3)

array([0, 3, 6, 9])

In [19]:
np.zeros((2,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [22]:
#creates an evenly spaced array between two numbers
np.linspace(0,5,100)

array([0.        , 0.05050505, 0.1010101 , 0.15151515, 0.2020202 ,
       0.25252525, 0.3030303 , 0.35353535, 0.4040404 , 0.45454545,
       0.50505051, 0.55555556, 0.60606061, 0.65656566, 0.70707071,
       0.75757576, 0.80808081, 0.85858586, 0.90909091, 0.95959596,
       1.01010101, 1.06060606, 1.11111111, 1.16161616, 1.21212121,
       1.26262626, 1.31313131, 1.36363636, 1.41414141, 1.46464646,
       1.51515152, 1.56565657, 1.61616162, 1.66666667, 1.71717172,
       1.76767677, 1.81818182, 1.86868687, 1.91919192, 1.96969697,
       2.02020202, 2.07070707, 2.12121212, 2.17171717, 2.22222222,
       2.27272727, 2.32323232, 2.37373737, 2.42424242, 2.47474747,
       2.52525253, 2.57575758, 2.62626263, 2.67676768, 2.72727273,
       2.77777778, 2.82828283, 2.87878788, 2.92929293, 2.97979798,
       3.03030303, 3.08080808, 3.13131313, 3.18181818, 3.23232323,
       3.28282828, 3.33333333, 3.38383838, 3.43434343, 3.48484848,
       3.53535354, 3.58585859, 3.63636364, 3.68686869, 3.73737374,
       3.78787879, 3.83838384, 3.88888889, 3.93939394, 3.98989899,
       4.04040404, 4.09090909, 4.14141414, 4.19191919, 4.24242424,
       4.29292929, 4.34343434, 4.39393939, 4.44444444, 4.49494949,
       4.54545455, 4.5959596 , 4.64646465, 4.6969697 , 4.74747475,
       4.7979798 , 4.84848485, 4.8989899 , 4.94949495, 5.        ])

In [23]:
#identity matrix
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [24]:
np.random.rand(5,4)

array([[0.70418949, 0.23444124, 0.4200175 , 0.35530007],
       [0.47721887, 0.96813643, 0.76361286, 0.14705556],
       [0.8253909 , 0.31344007, 0.62720031, 0.67070979],
       [0.31962959, 0.64938437, 0.31073605, 0.02579262],
       [0.56992094, 0.5310996 , 0.22946225, 0.62422176]])

In [25]:
arr= np.arange(25)

In [26]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [27]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [28]:
random_arr= np.random.randint(0,50,10)

In [29]:
random_arr

array([ 7, 15, 32, 32, 10, 13, 46,  3, 27, 25])

In [30]:
random_arr.max()

46

In [31]:
random_arr.min()

3

In [33]:
random_arr.shape

(10,)

In [36]:
reshaped = random_arr.reshape(2,5)

In [37]:
reshaped.shape

(2, 5)

In [38]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

#Show
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [39]:
#Indexing row
arr_2d[1]

array([20, 25, 30])

In [40]:
# Format is arr_2d[row][col] or arr_2d[row,col]

# Getting individual element value
arr_2d[1][0]

20

In [41]:
# Getting individual element value
arr_2d[1,0]

20

In [42]:
# Array operations

In [43]:
arr = np. arange(0,11)

In [44]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [45]:
# addition
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [47]:
# multiplication
arr * arr

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [48]:
arr / 2

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [49]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766])

Numpy comes with many universal array functions, which are essentially just mathematical operations you can use to perform the operation across the array. Refer numpy array documentation
https://numpy.org/doc/stable/reference/ufuncs.html

In [58]:
np.linspace(0.01,1,100)

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

## Pandas

Pandas is an open source library built on top of Numpy.
It allows fast analysis and data cleaning and preparation.
It also has built-in visualization features.
It can work with a wide range of data sources.

In [ ]:
#installation
conda install pandas

### Series
very similar to a numPy array. the main difference is, a series can have axis labels

In [59]:
import numpy as np
import pandas as pd

In [66]:
labels=['a','b','c']
mylist=[10,20,30]
arr= np.array(mylist)
d ={'a':10,'b':20,'c':30}

In [67]:
pd.Series(data=mylist, index=labels)

a    10
b    20
c    30
dtype: int64

In [68]:
pd.Series(mylist,labels)

a    10
b    20
c    30
dtype: int64

In [69]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [71]:
s1 = pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [72]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [73]:
s2 = pd.Series([1,2,3,4,5],['h','e','l','l','o'])

In [74]:
s2

h    1
e    2
l    3
l    4
o    5
dtype: int64

In [76]:
s1['a']

1

In [77]:
s1 + s2

a    NaN
b    NaN
c    NaN
d    NaN
e    7.0
h    NaN
l    NaN
l    NaN
o    NaN
dtype: float64

### DataFrames

In [84]:
import numpy as np
import pandas as pd

In [85]:
from numpy.random import randn

In [86]:
np.random.seed(101)

In [89]:
df = pd.DataFrame(randn(5,3),['H','E','L','L','O'],['A','B','C'])

In [90]:
df

          A         B         C
H  0.390528  0.166905  0.184502
E  0.807706  0.072960  0.638787
L  0.329646 -0.497104 -0.754070
L -0.943406  0.484752 -0.116773
O  1.901755  0.238127  1.996652

In [119]:
df[['C','B']]

          C         B
H  0.184502  0.166905
E  0.638787  0.072960
L -0.754070 -0.497104
L -0.116773  0.484752
O  1.996652  0.238127

In [120]:
# row selection
df.loc['H']

A      0.390528
B      0.166905
C      0.184502
new    0.557432
Name: H, dtype: float64

In [122]:
df.loc['H','B']

0.16690463609281317

In [95]:
type(df)

pandas.core.frame.DataFrame

In [97]:
df['new'] = df['A'] + df['B']

In [98]:
df['new']

H    0.557432
E    0.880666
L   -0.167458
L   -0.458655
O    2.139882
Name: new, dtype: float64

In [99]:
df

          A         B         C       new
H  0.390528  0.166905  0.184502  0.557432
E  0.807706  0.072960  0.638787  0.880666
L  0.329646 -0.497104 -0.754070 -0.167458
L -0.943406  0.484752 -0.116773 -0.458655
O  1.901755  0.238127  1.996652  2.139882

In [100]:
df.drop('new', axis=1)

          A         B         C
H  0.390528  0.166905  0.184502
E  0.807706  0.072960  0.638787
L  0.329646 -0.497104 -0.754070
L -0.943406  0.484752 -0.116773
O  1.901755  0.238127  1.996652

In [101]:
df.drop('H')

          A         B         C       new
E  0.807706  0.072960  0.638787  0.880666
L  0.329646 -0.497104 -0.754070 -0.167458
L -0.943406  0.484752 -0.116773 -0.458655
O  1.901755  0.238127  1.996652  2.139882

In [102]:
df

          A         B         C       new
H  0.390528  0.166905  0.184502  0.557432
E  0.807706  0.072960  0.638787  0.880666
L  0.329646 -0.497104 -0.754070 -0.167458
L -0.943406  0.484752 -0.116773 -0.458655
O  1.901755  0.238127  1.996652  2.139882

In [123]:
df.reset_index()

  index         A         B         C       new
0     H  0.390528  0.166905  0.184502  0.557432
1     E  0.807706  0.072960  0.638787  0.880666
2     L  0.329646 -0.497104 -0.754070 -0.167458
3     L -0.943406  0.484752 -0.116773 -0.458655
4     O  1.901755  0.238127  1.996652  2.139882

In [133]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [134]:
# zip function created a tuple from two lists
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [135]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.681209  1.035125
   2 -0.031160  1.939932
   3 -1.005187 -0.741790
G2 1  0.187125 -0.732845
   2 -1.382920  1.482495
   3  0.961458 -2.141212

In [137]:
df.loc['G2'].loc[1]['A']

0.1871245217641948

### Missing Data

In [138]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [139]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [141]:
# Ways of addressing missing values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [142]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [143]:
df.fillna(value=3)

     A    B  C
0  1.0  5.0  1
1  2.0  3.0  2
2  3.0  3.0  3

In [145]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64